---
import CategoryList from "../../../components/CategoryList.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Catalog home page with categories">
  <main>
    <h1>Сategories</h1>
    <CategoryList />
  </main>
</Layout>

<style></style>
